<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <title>JOB PORTAL</title>
</head>
<body>
    <h1>PRIVATE JOBS LIMITED</h1>
    <h4>It's time to start living the life you have been imagined.</h4>
    {% include 'navbar.html' %}
    <br>
	<br>
    {%block content%}
    
    {% endblock %}
</body>
</html>
